@model IEnumerable<webtintuc.Models.CategoryModel>
@{
    ViewData["Title"] = "Quản lý thể loại";
    int i=0;    
}

<h1>Danh sach thể loại</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" >Thêm thể loại</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriptions)
            </th>
            <th>
                Tùy chọn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(++i)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptions)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryID">Chỉnh sửa</a> |               
                <a asp-action="Delete" asp-route-id="@item.CategoryID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>